{% extends "base.html" %} {% block title %}pymc-vibes: Poisson Cohorts{%
endblock %} {% block content %}
<div class="chart-controls">
  <span>Group By:</span>
  <input
    type="checkbox"
    id="group-by-cohort"
    value="cohort"
    class="group-by-checkbox"
    checked
  />
  <label for="group-by-cohort">Cohort</label>
  <input
    type="checkbox"
    id="group-by-event-type"
    value="event_type"
    class="group-by-checkbox"
  />
  <label for="group-by-event-type">Event Type</label>
</div>
<div id="chart-container" data-experiment-name="{{ experiment.name }}"></div>
<div id="global-timeline-container"></div>
<div id="timelines-container"></div>
{% endblock %} {% block scripts %}
<script type="module" src="/static/poisson_cohorts.js"></script>
{% endblock %}
