{% extends "detail_base.html" %} {% block title %}pymc-vibes: Poisson Cohorts{%
endblock %} {% block chart_wrapper_width %}1400px{% endblock %} {% block
extra_css %} #time-slider { /* Reset browser-default styling that can cause
mis-alignment. box-sizing ensures padding/border are included in the element's
total width/height. */ box-sizing: border-box; padding: 0; margin: 0; } {%
endblock %} {% block chart_content %}
<div
  id="global-posterior-container"
  data-experiment-name="{{ experiment.name }}"
></div>
<div id="chart-container"></div>
{% endblock %} {% block extra_content %}
<pre id="event-details"></pre>
{% endblock %} {% block javascript_module %}/static/poisson_cohorts.js{%
endblock %}
